#search-title {
  text-align: center;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.search-form {
  text-align: center;
  margin-top: 20px;
}

#search-input {
  border: 1px solid black;
  margin-bottom: 20px;
}

#search-button {
  background-color: grey;
  margin-top: 10px;
}

#my-itinerary-link {
  text-align: center;
}

.white {
  background-color: white;
}
