.country-flags {
  width: 250px;
  height: 150px;
}

.country-list-items {
  list-style: none;
}

#interested-button {
  background-color: grey;
}

.country-name {
  font-size: 36px;
  text-align: center;
}

.country-area {
  margin-right: auto;
  margin-left: auto;
}
